@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: #1ed760f5;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family:'Ubantu',sans-serif;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 14px;
    justify-content: center;
}
.brand img{
    width: 36px;
    padding-right: 5px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
nav ul li{
    padding: 0 10px;
}
.container{
    min-height: 71vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 20px auto ;
    padding: 20px ;
    border-radius: 10px;
    background-image: url('bg.jpg');
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 10px;
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songlist{
    margin-left: 5px;
}
.songItem{
    display: flex;
    height: 50px;
    background-color: white;
    color: black;
    margin: 16px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.songItem img{
    width: 42px;
    margin: 0 5px;
    border-radius: 10px;
} 
.timeStamp{
    margin-right: 7px;
}
.timeStamp i{
    cursor: pointer;
}
.songContainer{
    margin-top: 44px;
}
.songInfo{
    position: absolute;
    left: 10vw;
}
.songInfo img{
    width: 84px;
    transition: opacity .5s ease-in;
}
.songItemPlay{
    margin-right: 9px;
}
.fa-play-circle{
    cursor: pointer;
}
.fa-pause-circle{
    cursor: pointer;
}